<router-outlet />

<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departure time</th>
      <th scope="col">Arrival time</th>
      <th scope="col">Days of week</th>
      <th scope="col">Route</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
      @for (schedule of schedules; track schedule.id) {
       <tr>
         <th scope="row">{{ schedule.id }}</th>
         <td>{{ schedule.departureTime }}</td>
         <td>{{ schedule.arrivalTime }}</td>
         <td>{{ schedule.daysOfWeek }}</td>
         <td>{{ schedule.routeId }}</td>
         <td>{{ schedule.active ? 'Yes': 'No'}}</td>
       </tr>
       }
  </tbody>
</table>
